body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
  }
  
  #pai {
    width: 250px;
    height: 570px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
  
  }
  
  #mae {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#titulos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#display {
    font-size: 35px;
    color: black;
}

#divDisplay{
    display: flex;
    width: 100%;
    height: 5vh;
    justify-content: flex-end;
    border-bottom: 1px solid grey;
}

#divDigitos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 11vw;
    height: auto;
}

#divOperadores {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: column;
    margin: auto;
    width: auto;
    height: auto;
}


.botaoOperador{
    font-size: 30px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#CE{
    font-size: 25px;
}

button{
    width: 60px;
    text-align: center;
    font-size: 35px;
    background-color:black;
    color: white;
    border: darkslategray solid 1px;
    box-shadow: 1px 2px 3px 1px rgb(60, 70, 68);
    text-shadow: 1px 1px 3px rgb(17, 27, 17);
  }

.botaoOperador :hover{
    background-color:white; 
    color: black;
}